@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
//
@font-face {
	font-family: 'Gotham Rounded';
	src: url('../Fonts/GothamRoundedMedium.ttf') format('truetype');
}
@font-face {
	font-family: 'Gotham Rounded Light';
	src: url('../Fonts/GothamRoundedLight.ttf') format('truetype');
}
// $body-bg: #050516;
// $body-color: #f2f2f2;
$body-bg: #fff;
$body-color: #212529;

$theme-colors: (
	'site-primary': #03223f,
	'orange': #ff0032,
	'main-container': #222,
	'site-table-color': #d6d5d3,
	// site-main-color
	'site-horizontalBar-color': #48cae4,
);
* {
	font-family: 'Gotham Rounded';
}
.bg-main-container {
	background-color: #222 !important;
}
.hero_section {
	margin-top: -9px !important;
}

// 48cae4
@import 'node_modules/bootstrap/scss/bootstrap';

html {
	font-size: 18px;
	@media (max-width: 1799.98px) {
		font-size: 17px;
	}
	@media (max-width: 1399.98px) {
		font-size: 16px;
	}
	@media (max-width: 1199.98px) {
		font-size: 13px;
	}
	@media (max-width: 991.98px) {
		font-size: 12px;
	}
	@media (max-width: 567.98px) {
		font-size: 11px;
	}
}
$weights: 100 200 300 400 500 600 700 800;
@each $weight in $weights {
	.fw--#{$weight} {
		font-weight: $weight;
	}
}
@for $size from 12 through 96 {
	.fs--#{$size} {
		font-size: $size/16 + rem;
	}
}

.forse-Toename_Pargraph {
	font-family: 'Gotham Rounded', 'sans serif';
	font-weight: 700;
}
.veri_Inbraakonderzoek_Paragraph {
	font-family: 'Gotham Rounded Light', 'sans serif';
	line-height: 1.6;
}
.cirkel {
	background-color: #fff;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	text-align: center;
	color: #ff0032;
	line-height: 30px;
	display: inline-block;
	margin-right: 10px;
	font-family: 'Gotham Rounded Light';
}
.formImg {
	&__first {
		margin-left: -40px;

		@media only screen and (max-width: 767px) {
			margin-left: 0;
			width: 100% !important;
			// margin-top: -25px;

			margin-top: -2px;
		}
	}
	&__second {
		margin-top: -40px;
		margin-left: -100px;
		@media only screen and (max-width: 767px) {
			margin-left: 0;
			width: 100% !important;
		}
	}
}
.FormButton {
	color: #82c92f !important;
}
.fadeIn {
	animation: fadeIn 2.5s;
}
// .fadeIn:hover {
// 	div {
// 		background-color: #000 !important;
// 		cursor: pointer !important;
// 	}
// 	p {
// 		color: #000 !important;
// 		cursor: pointer !important;
// 	}
// 	 button {
// 		background-color: white !important;
// 		pointer-events: none !important;
// 	}
// }
.midSection__card {
	background-color: #222 !important;
	border-radius: 0.25rem !important;
	margin-left: -35px;
	padding-left: 100px;
	padding-right: 20px;
	z-index: -1 !important;

	@media only screen and (max-width: 991px) {
		background-color: #222 !important;
		border-radius: 0.25rem !important;
		margin-left: 0;
		z-index: -1 !important;
		padding-left: 25px;
		padding-right: 20px;
		margin-top: -30px;
	}
}
.cat_img {
	margin-right: -9px !important;
	z-index: 1 !important;
	position: relative;
	width: 100%;
}

.heading-container {
	&_row {
		div:hover {
			// background-color:#222 ;
			background-color: #222;
			color: #e40d0d;
			cursor: pointer;
		}
		p:hover {
			// background-color: #222;
			color: #222 !important;
			cursor: pointer;
		}
		button:hover {
			background-color: #d6d5d3 !important;
			cursor: pointer !important;
		}
	}
}
.user-select-auto {
	cursor: auto !important;
	// pointer-events: none !important;
}
.user-select-auto:hover {
	background-color: transparent !important;
	// cursor: pointer;
	// pointer-events: none !important;
}
.btn-bg {
	background-color: #82c92f !important;
	border-color: #82c92f !important;
}
.ml-10 {
	margin-left: 6rem;
	@media (max-width: 575.98px) {
		margin-left: 0;
	}
}
.ml-12 {
	margin-left: 10rem;
	@media (max-width: 575.98px) {
		margin-left: 0;
	}
}
.ml-11 {
	margin-left: 11rem;
	@media (max-width: 575.98px) {
		margin-left: 0;
	}
}
.ml-14 {
	margin-left: 12rem;
	@media (max-width: 575.98px) {
		margin-left: 0;
	}
}
.ml-16 {
	margin-left: 14rem;
	@media (max-width: 575.98px) {
		margin-left: 0;
	}
}
.mt--7 {
	margin-top: 10rem !important;
	margin-left: -3rem;
	position: relative;
}
// Footer
.footer {
	background-color: #f2f2f2 !important;
	color: #000 !important;
	p {
		color: #222 !important;
		font-size: 11px;
		font-family: \GothamRoundedLight, sans-serif;
	}
	&_voorwaarden:hover {
		cursor: pointer;
	}
}
